php_value upload_max_filesize 100M
php_value post_max_size 100M
php_value error_log /www/kirschner.med.harvard.edu/docroot/corecop/log/webserver_php_errors.log
php_value mail.log /www/kirschner.med.harvard.edu/docroot/corecop/log/php_mailer.log
