@font-face {
    font-family: "Vonique";
    src: url("vonique_64/Vonique\ 64\ Bold.ttf") format("truetype");
}


.headline {
    font-family: "Vonique";
    font-size:500%;
    color:#333333;
    background-color:#996666;
    padding-left:.4em;
    padding-right:.4em;
    display:inline-block;
    margin:auto;
}

.bigblock{
    background-color:#cccccc;
    padding:1em;
    display:inline-block;
    margin:auto;
}

.subtitle{
    color:#333333;
    background-color:#998066;
    padding:.5em;
    margin:auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:italic;
}

.general{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.outputs{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:#CCFFCC;
    display:inline-block;
    padding-right:.5em;
    padding-left:.5em;

    
}

.notout{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:#FF9999;
    display:inline-block;
    padding-right:.5em;
    padding-left:.5em;
}