@font-face {
    font-family: "Vonique";
    src: url("vonique_64/Vonique\ 64\ Bold.ttf") format("truetype");
}

.headline {
    font-family: "Vonique";
    font-size:5em;
    color:#444444;
    background-color:#996666;
    padding-left:.4em;
    padding-right:.4em;
    display:inline-block;
}

.bigblock{
    background-color:#444444;
}