@font-face {
    font-family: "Vonique";
    src: url("vonique_64/Vonique\ 64\ Bold.ttf") format("truetype");
}

.headline {
    font-family: "Vonique";
    font-size:250%;
    color:#333333;
    background-color:#996666;
    padding-left:.4em;
    padding-right:.4em;
    display:inline-block;
    margin:auto;
}

.bigblock{
    background-color:#cccccc;
    padding:1em;
    display:inline-block;
    margin:auto;
}

.subtitle{
    color:#ffffff;
    background-color:#993333;
    padding:.5em;
    margin:auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:italic;
}

.general{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.outputs{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:italic;
    background-color:#CCFFCC;
    color:#333333;
    display:inline-block;
    padding-right:1.2em;
    padding-left:1.2em;

    
}

.notout{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:italic;
    background-color:#CCB2B2;
    display:inline-block;
    color:#333333;
    padding-right:1.2em;
    padding-left:1.2em;
}

.setting{
    padding-left:5%;
}

.descript{
    font-size:75%;
    background-color:#CCB2B2;
    color:#ffffff;
    border-style:solid;
    border-color:black;
    border-width:1px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    font-style:italic;
}

.param{
    width:4em;
    text-align: right;
}